//variables

//font face for fonts
@font-face {
  font-family: 'netflix_fonts';
  src: url('./fonts/bebas-neue-webfont.woff2') format('woff2'),
       url('./fonts/bebas-neue-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$color-primary-SkyBlack: hsl(222, 10%, 20%);
$color-primary-dirtyWhite: hsl(0, 0%, 95%);
$color-primary-cherryRed: hsl(348, 99%, 28%);
$color-primary-raspberryRed: hsl(349, 99%, 42%);
$color-primary-lightRed: hsl(355, 96%, 43%) ;
$ff-primary: "netflix_fonts";


/* general styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-primary-SkyBlack;
  font-family: $ff-primary;
}

h3 {
  width: 18ch;
  font-size: 1.25rem;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: $color-primary-raspberryRed;
  font-weight: bold;
  font-size: 1.1rem;
  color: $color-primary-dirtyWhite;
  position: absolute;
  right: 5px;
  top: -20px;
}

nav {
  padding: 0 2em 0 0;
  background-color: $color-primary-dirtyWhite;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: clamp(150px, 10vw, 300px);
  }

  input[type="text"] {
    padding: 0.5em;
  }

  input[type="text"]:focus {
    outline: none;
    border: 3px solid $color-primary-raspberryRed;
  }

}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 1em;


  .series__container {
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 200px;
    height: 360px;
    background-color: $color-primary-dirtyWhite;
    margin-bottom: 2.5em;
    margin-left: 2.5em;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .series__overview {
      font-size: 1.15rem;
      color: $color-primary-dirtyWhite;
      padding: 0.5em;
      position: absolute;
      bottom: -100%;
      height: 100%;
      width: 100%;
      background-color: $color-primary-raspberryRed;
      transition: .3s linear;
      overflow: hidden;
      overflow-y: auto;
    }


    .series__img {
      height: 330px;
      background-size: cover;
    }


    .series__information {
      display: flex;
      justify-content: space-between;
      padding: .3em;
      height: 70px;
      position: relative;
    }


  }

  .series__container:hover .series__overview{
    bottom: 0;
    transition: .3s linear;
  }

}